<head>
    <link href="css/favoritos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
@page "/Favoritos"

<body>
    <header>
        <nav>
            <a class="exit-button" href="#"><i class="fas fa-sign-out-alt"></i></a>
            <div class="user-profile">
                <div class="usuario-background"></div>
                <div class="user-info">
                    <img src="./css/icons-user/usuario.png" alt="Imagen de Usuario">
                    <p>Jeffrey <br>Mardoqueo</p>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <h1>FAVORITOS</h1>
        <hr>
        <div class="materias">
            <div class="materia">
                <span>Programación</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia">
                <span>Matemáticas</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia">
                <span>Sociales</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
        </div>
    </main>

    <footer>
        <span>
            Puedes agregar tus materias favoritas para seguir practicando los temas que mas gustan
            ¡Vamos a jugar!
        </span>
    </footer>

</body>


@code {

}
