<head>
    <link href="css/materias.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
@page "/Materias"

<body>

    <header>
        <nav>
            <a class="exit-button" href="#"><i class="fas fa-sign-out-alt"></i></a>

            <div class="user-profile">
                <div class="usuario-background"></div>
                <div class="user-info">
                    <img src="./css/icons-user/usuario.png" alt="Imagen de Usuario">
                    <p>Jeffrey <br>Mardoqueo</p>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <h1>MATERIAS</h1>
        <hr>
        <div class="materias">
            <div class=" materia programacion">
                <span>Programación</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia matematicas">
                <span>Matemáticas</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia sociales">
                <span>Sociales</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia ciencias">
                <span>Ciencias</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia ingles">
                <span>Inglés</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="materia informatica">
                <span>Informática</span>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>

@code {

}
