<head>
    <link href="css/usuario.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
@page "/Usuario"

<body>
    <div>
        <header>
            <nav>
                <a class="exit-button" href="#"><i class="fas fa-sign-out-alt"></i></a>
            </nav>

        </header>
       

        <div class="user-profile">
            <div class="usuario-background"></div>
            <img class="user" src="./css/icons-user/usuario.png" alt="Imagen de Usuario">
            <h1>Jeffrey Mardoqueo</h1>
            <h3>Cambiar Nombre de Usuario</h3>
            <input type="text" placeholder="Nuevo Nombre de Usuario">
        </div>

        <div class="avatar-selection">
            <h3>Seleccionar una nueva imagen de perfil:</h3>
            <div class="avatar-row">
                <div class="avatar-item">
                    <img src="./css/icons-user/hombre-arana.png" alt="Avatar 1">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/harry-potter.png" alt="Avatar 2">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/donatello.png" alt="Avatar 3">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/hombre-murcielago.png" alt="Avatar 4">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/momia.png" alt="Avatar 5">
                    <div class="avatar-circle"></div>
                </div>
            </div>

            <div class="avatar-row">
                <div class="avatar-item">
                    <img src="./css/icons-user/caperucita-roja.png" alt="Avatar 6">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/princesa.png" alt="Avatar 7">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/nina.png" alt="Avatar 8">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/gorra.png" alt="Avatar 9">
                    <div class="avatar-circle"></div>
                </div>

                <div class="avatar-item">
                    <img src="./css/icons-user/nina.png" alt="Avatar 10">
                    <div class="avatar-circle"></div>
                </div>
            </div>

            <div class="save-button">
                <button>GUARDAR!</button>
            </div>
        </div>
    </div>
   
</body>


@code {

}
